<div class="itemsFields">
  <span class="itemsFields__title" i18n>{{ property.name }}</span>
  <div
    *ngIf="!editionMode && property.value !== null"
    class="itemsFields__valuereadonly"
  >
    <span>
      {{ property.value }}
    </span>
  </div>

  <div
    *ngIf="editionMode"
    class="itemsFields__value"
  >
    <input
      [formControlName]="'prop' + property.id.toString()"
      [owlDateTime]="datepicker"
      [owlDateTimeTrigger]="datepicker"
      placeholder="select a date"
      (dateTimeChange)="setValue($event)"
    >
    <owl-date-time
      pickerType="calendar"
      #datepicker
    >
    </owl-date-time>
  </div>
</div>
