<app-page i18n-page-title page-title="Users">
  <header class="page__header">
    <h1 i18n>Users</h1>
  </header>

  <div class="page__inner flow">
    <a class="a--action" [routerLink]="['/users/new']">
      <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
      <ng-container i18n>
        Create a user
      </ng-container>
    </a>

    <table>
      <thead>
        <tr>
          <th i18n>
            Name
          </th>

          <th i18n>
            Organization
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{ user.name }}
          </td>

          <td>
            {{ user.organization.name }}
          </td>
        </tr>

        <tr *ngIf="!usersLoaded">
          <td colspan="2" class="loader flow">
            <div class="loader__spinner"></div>

            <p class="loader__message" i18n>
              Loading of users…
            </p>
          </td>
        </tr>

        <tr *ngIf="usersLoaded && users.length === 0" class="tr--placeholder">
          <td colspan="2" i18n>
            There are no users to show.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-page>
