<div class="title">
  {{data.type}}
</div>
<div class="content">
  <span class="bubble trigger">
    <fa-icon icon="bolt-lightning" [fixedWidth]="true" size="lg"></fa-icon>
    <!-- <i class="fa-solid fa-tower-observation"></i> -->
  </span>
  <span class="bubble synchrone" *ngIf="!data.async" (click)="toggleSync()">
    <fa-icon icon="gear" [fixedWidth]="true" size="lg"></fa-icon>
    <fa-icon icon="check" [fixedWidth]="true" size="xs"></fa-icon>
  </span>
  <span class="bubble asynchrone" *ngIf="data.async" (click)="toggleSync()">
    <fa-icon icon="gear" [fixedWidth]="true" size="lg"></fa-icon>
    <fa-icon icon="clock" [fixedWidth]="true" size="xs"></fa-icon>
  </span>

  <div class="subtype">
    {{data.subtype}}
  </div>
  <div class="subcontent">
    {{data.subtype}}
  </div>
</div>
