<span style="font-weight: bold;color: #fff;background-color: var(--sky11);width: 100%;display: block;text-align: center;">
  Engine
</span>
<div class="form__edit__item" style="margin-left: 4px;margin-right: 4px;" *ngIf="workflow.groups.length > 0">
  <div>
    <div class="form__edit__item__titlesky" i18n>Name</div>
    <div class="form__edit__item__value short">
      <input
        [value]="workflow.name"
        (change)="updateField($event)"  
      >
    </div>
  </div>

  <div style="font-size: 24px;font-weight: bold; color: var(--sky11);border-top: 2px solid var(--sky11);border-bottom: 2px solid var(--sky11);width: 100%;">
    <span style="width: 25px;display: inline-block;"></span>
    <fa-icon icon="sitemap" size="xs" [fixedWidth]="true"></fa-icon>
    Group #0
  </div>
  <form
    [formGroup]="formControls"
    style="width: 100%;"
  >
    <div *ngFor="let property of workflow.groups[0].properties">
      <div>
        <div class="form__edit__item__titlesky" i18n>{{ property.name }}</div>
        <div class="form__edit__item__value short">

          <!-- Fieldtype -->
          <ng-select
            *ngIf="property.name === 'fieldtype'"
            [id]="property.id"
            required
            [items]="property.allowedvalues"
            formControlName="fieldtype"
            [clearable]="false"
            (change)="updateProperty(property)"
          >
          </ng-select>

          <!-- Field -->
          <span *ngIf="property.name === 'field'">
            <input
              [value]="property.value"
              [id]="property.id"
              *ngIf="formFieldtype?.value === 'simple' || formFieldtype?.value === 'fusioninventoryproperty'"
              formControlName="field"
              (change)="updateProperty(property)"
            >

            <ng-select
              *ngIf="formFieldtype?.value === 'itemproperty'"
              [id]="property.id"
              required
              [items]="getPropertiesOfType()"
              bindLabel="name"
              bindValue="id"
              formControlName="field"
              [clearable]="false"
              (change)="updateProperty(property)"
            >
            </ng-select>

            <span *ngIf="formFieldtype?.value === 'variable'">
              <ng-select
                [id]="property.id"
                required
                [items]="variables"
                bindLabel="name"
                bindValue="name"
                formControlName="field"
                [clearable]="false"
                (change)="updateProperty(property)"
              >
              </ng-select>
              <small
                class="text-error"
                *ngIf="formControls?.errors?.['notFoundVariablenameField']"
                i18n
              >
                This variable does not exists.
              </small>
            </span>
          </span>

          <!-- Operator -->
          <ng-select
            *ngIf="property.name === 'operator'"
            [id]="property.id"
            required
            [items]="property.allowedvalues"
            formControlName="operator"
            [clearable]="false"
            (change)="updateProperty(property)"
          >
          </ng-select>

          <!-- Valuetype -->
          <ng-select
            *ngIf="property.name === 'valuetype'"
            [id]="property.id"
            required
            [items]="property.allowedvalues"
            formControlName="valuetype"
            [clearable]="false"
            (change)="updateProperty(property)"
          >
          </ng-select>

          <!-- Value -->
          <span *ngIf="property.name === 'value'">
            <input
              [value]="property.value"
              [id]="property.id"
              *ngIf="formValuetype?.value === 'simple'"
              formControlName="value"
              (change)="updateProperty(property)"
            >

            <span *ngIf="formValuetype?.value === 'variable'">
              <ng-select
                [id]="property.id"
                required
                [items]="variables"
                bindLabel="name"
                bindValue="name"
                formControlName="value"
                [clearable]="false"
                (change)="updateProperty(property)"
              >
              </ng-select>
            </span>
            <small
              class="text-error"
              *ngIf="formControls?.errors?.['notFoundVariablenameValue']"
              i18n
            >
              This variable does not exists.
            </small>
          </span>

        </div>
      </div>
    </div>
  </form>

  <div 
    style="font-size: 24px;font-weight: bold; color: var(--sky11);border-top: 2px solid var(--sky11);border-bottom: 2px solid var(--sky11);width: 100%;"
    *ngIf="workflow.variable !== null"    
  >
    <fa-icon icon="warehouse" size="xs" [fixedWidth]="true"></fa-icon>
    Storage variable
  </div>
  <div *ngIf="workflow.variable !== null"  style="width: 100%;">
    <div>
      <div class="form__edit__item__titlesky" i18n>Name</div>
      <div class="form__edit__item__value short">
        <input
          [value]="workflow.variable.name"
          name="variable name"
          [(ngModel)]="workflow.variable.name"
          (change)="updateVariable('', 'name')"
        >
      </div>
    </div>
    <div>
      <div class="form__edit__item__titlesky" i18n>type</div>
      <div class="form__edit__item__value short">
        <ng-select
          name="variabletype"
          required
          [items]="['simple', 'list']"
          [(ngModel)]="workflow.variable.variabletype"
          [clearable]="false"
          (change)="updateVariable($event, 'variabletype')"
        >
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            {{ item }}
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
</div>
