<div class="title">
  {{data.type}}
</div>
<div class="content">
  <span class="bubble engine">
    <fa-icon icon="brain" [fixedWidth]="true" size="lg"></fa-icon>
  </span>
  <div class="subtype">
    {{data.subtype}}
  </div>
  <div class="subcontent">
    {{data.subtype}}
    <!-- <button df-button>click!</button> -->
  </div>
  <!-- <div> -->
    <!-- <span><fa-icon [icon]="['far', 'pen-to-square']" [fixedWidth]="true"></fa-icon></span>
    <span>the criterium is not defined</span> -->
    <!-- <input [(ngModel)]="data.query" (keyup.enter)="updateQuery()"> -->
  <!-- </div> -->
</div>
