.alert {
  padding: 0.5rem;

  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
}

.alert--error {
  background-color: var(--color-error3);

  border-color: var(--color-error6);
}

.alert__title {
  font-weight: bold;

  .ng-fa-icon {
    margin-right: 0.25rem;
  }
}

.alert--error .alert__title {
  color: var(--color-error11);
}

.alert__message {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
