button {
  vertical-align: middle;

  display: inline-block;
  padding: 0.25rem 1rem;

  color: var(--color-grey12);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;

  background-color: var(--color-grey3);
  border: 1px solid var(--color-grey7);
  border-radius: 3px;

  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: var(--color-grey4);
    border-color: var(--color-grey8);
  }

  &:active {
    background-color: var(--color-grey5);
  }

  &.button--primary {
    font-weight: bold;

    background-color: var(--color-primary9);
    border-color: var(--color-primary7);
  }

  &.button--primary:hover {
    background-color: var(--color-primary10);
    border-color: var(--color-primary8);
  }

  &.button--ghost {
    padding: 0 0.25rem;

    background-color: transparent;
    border-color: transparent;

    color: inherit;
  }

  &.button--ghost:hover {
    background-color: var(--color-grey4);
  }

  &.button--ghost:active {
    background-color: var(--color-grey5);
  }
}
