label {
  display: block;
  padding: 0.1rem 0.2rem;
}

.inline label {
  display: inline-block;
}

input {
  width: 100%;
  padding: 0.1rem 0.2rem;

  color: inherit;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;

  background-color: var(--color-grey4);
  border: none;
  border-bottom: 2px solid var(--color-grey7);

  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-grey3);
    border-color: var(--color-grey7);
  }

  &:focus {
    background-color: var(--color-primary5);
    border-bottom-color: var(--color-primary8);
  }

  &[aria-invalid = "true"] {
    background-color: var(--color-error4);
    border-color: var(--color-error7);

    &:hover {
      background-color: var(--color-error3);
    }

    &:focus {
      background-color: var(--color-error5);
      border-color: var(--color-error8);
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;

  display: inline-flex;

  align-items: center;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: ' ';

  position: relative;

  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;

  flex-shrink: 0;

  background-color: var(--color-grey3);
  border: 2px solid var(--color-grey7);
  border-radius: 5px;

  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before {
  background-color: var(--color-grey4);
  border-color: var(--color-grey8);
}

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
  outline: 3px solid var(--color-primary7);
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: var(--color-primary9);
  border-color: var(--color-primary8);
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
  content: '';

  position: absolute;
  left: 0.5rem;

  width: 0.7rem;
  height: 0.4rem;
  margin-top: -0.2rem;

  border-bottom: 2px solid var(--color-primary12);
  border-left: 2px solid var(--color-primary12);

  transform: rotate(-50deg);
}

input[type="radio"]:checked + label::after {
  height: 1.5rem;
  margin-top: 0;

  background-color: var(--color-primary12);
  border-top: 2px solid var(--color-primary12);
  border-right: 2px solid var(--color-primary12);
  border-radius: 50%;
}

select {
  padding: 0.25rem;

  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  text-overflow: ellipsis;

  background-color: var(--color-grey3);
  border: 2px solid var(--color-grey7);
  border-radius: 5px;

  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

select:hover {
  background-color: var(--color-grey4);
  border-color: var(--color-grey8);
}

.form__actions {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 600px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.form__error {
  padding: 0.1rem 0.2rem;

  color: var(--color-error11);
  font-weight: bold;
}
