@import "variables/colors";
@import "utilities/flow";
@import "alerts";
@import "buttons";
@import "forms";
@import "pages";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;

  scroll-behavior: smooth;

  @media (min-width: 600px) {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;

  color: var(--color-grey12);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;

  background: var(--color-grey2);
}

:focus:not([tabindex="-1"]) {
  outline: 3px solid var(--color-primary7);
}

.sr-only {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
}
