.page {
  display: flex;
  min-height: 100vh;
}

.page__nav {
  --color-nav-bg: var(--sky11);
  --color-nav-bg-dark: var(--sky12);
  --color-nav-fg: var(--sky1);

  position: relative;

  overflow: auto;

  width: 275px;
  max-height: calc(100vh - 3rem);
  margin-bottom: 3rem;
  padding: 1rem 0.5rem;

  flex-shrink: 0;

  color: var(--color-nav-fg);

  background-color: var(--color-nav-bg);
  box-shadow: 4px 0 8px rgb(0 0 0 / 25%);
  border-radius: 0 10px 0 0;
}

.page__nav-home {
  display: block;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  text-align: center;
}

.page__nav-container {
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 0;

  border-top: 1px solid var(--color-nav-fg);

  list-style: none;
}

.page__nav-item {
  --flow-space: 0.5em;
}

.page__nav-link {
  display: block;
  padding: 0.25rem;

  color: var(--color-nav-fg);
  text-decoration: none;

  border-radius: 3px;

  &.active {
    background-color: var(--sky12);
  }
}

.page__nav-link .ng-fa-icon {
  margin-right: 0.2rem;
}

.page__nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  width: 275px;
  height: 3rem;
  padding: 0.25rem 0.5rem;

  align-items: center;

  background-color: var(--color-nav-bg-dark);
  box-shadow: 4px 0 8px rgb(0 0 0 / 25%);
}

.page__nav-username {
  overflow: hidden;

  flex: 1;

  text-overflow: ellipsis;

  white-space: nowrap;
}

.page__content {
  padding: 1rem;

  flex: 1;
}

.page__header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page__inner {
  padding: 1rem;

  background-color: var(--color-grey1);
  border-top: 1px solid var(--color-grey6);
}
