<a class="page__nav-home" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
  <img i18n-alt alt="Home FusionSuite" src="assets/logo.png" width="200">
</a>

<ul class="page__nav-container flow flow--small">
  <li class="page__nav-item">
    <a class="page__nav-link" [routerLink]="['/organizations']" routerLinkActive="active" ariaCurrentWhenActive="page">
      <fa-icon icon="users" size="xs" [fixedWidth]="true"></fa-icon>
      <ng-container i18n>
        Organizations
      </ng-container>
    </a>
  </li>

  <li class="page__nav-item">
    <a class="page__nav-link" [routerLink]="['/users']" routerLinkActive="active" ariaCurrentWhenActive="page">
      <fa-icon icon="user" size="xs" [fixedWidth]="true"></fa-icon>
      <ng-container i18n>
        Users
      </ng-container>
    </a>
  </li>
</ul>

<div class="page__nav-bottom">
  <div class="page__nav-bottom-extend">
    <div class="page__nav-username">
      <fa-icon icon="user" size="xs" [fixedWidth]="true"></fa-icon>
      {{ displayName }}
    </div>

    <div class="page__nav-organization">
      <small>{{ organization?.name }}</small>
    </div>
  </div>

  <button (click)="logout()">
    <fa-icon icon="sign-out-alt"></fa-icon>
    <span class="sr-only" i18n>Log out</span>
  </button>
</div>
