:root {
  --sky1: hsl(193, 100%, 98.8%);
  --sky2: hsl(193, 100%, 97.3%);
  --sky3: hsl(193, 99.0%, 94.7%);
  --sky4: hsl(193, 91.4%, 91.4%);
  --sky5: hsl(194, 82.0%, 86.6%);
  --sky6: hsl(194, 74.1%, 79.5%);
  --sky7: hsl(194, 72.3%, 69.6%);
  --sky8: hsl(193, 77.9%, 53.9%);
  --sky9: hsl(193, 98.0%, 70.0%);
  --sky10: hsl(193, 87.0%, 66.5%);
  --sky11: hsl(195, 100%, 31.5%);
  --sky12: hsl(195, 100%, 13.0%);

  --red1: hsl(359, 100%, 99.4%);
  --red2: hsl(359, 100%, 98.6%);
  --red3: hsl(360, 100%, 96.8%);
  --red4: hsl(360, 97.9%, 94.8%);
  --red5: hsl(360, 90.2%, 91.9%);
  --red6: hsl(360, 81.7%, 87.8%);
  --red7: hsl(359, 74.2%, 81.7%);
  --red8: hsl(359, 69.5%, 74.3%);
  --red9: hsl(358, 75.0%, 59.0%);
  --red10: hsl(358, 69.4%, 55.2%);
  --red11: hsl(358, 65.0%, 48.7%);
  --red12: hsl(354, 50.0%, 14.6%);

  // Usage of colors is explained in comments. For more detailled explanations,
  // see https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale

  // Subtle backgrounds
  // main app background, subtle component backgrounds (e.g. striped table,
  // card, sidebar)
  --color-primary1: var(--sky1);
  --color-primary2: var(--sky2);
  --color-error1: var(--red1);
  --color-error2: var(--red2);

  // Component backgrounds (+1 for call-to-action components)
  // normal states
  --color-primary3: var(--sky3);
  --color-error3: var(--red3);
  // hover states
  --color-primary4: var(--sky4);
  --color-error4: var(--red4);
  // pressed or selected states
  --color-primary5: var(--sky5);
  --color-error5: var(--red5);

  // Borders
  // subtle borders for non-interactive components
  --color-primary6: var(--sky6);
  --color-error6: var(--red6);
  // borders for interactive components, focus rings
  --color-primary7: var(--sky7);
  --color-error7: var(--red7);
  // border for interactive components in hover state
  --color-primary8: var(--sky8);
  --color-error8: var(--red8);

  // Solid backgrounds
  // Main backgrounds in normal state (e.g. header backgrounds, coloured
  // shadows, accent borders)
  --color-primary9: var(--sky9);
  --color-error9: var(--red9);
  // Main backgrounds in hover state
  --color-primary10: var(--sky10);
  --color-error10: var(--red10);

  // Text
  // low-contrast text
  --color-primary11: var(--sky11);
  --color-error11: var(--red11);
  // high-contrast text
  --color-primary12: var(--sky12);
  --color-error12: var(--red12);
}
