<span style="font-weight: bold;color: #fff;background-color: var(--sky11);width: 100%;display: block;text-align: center;">
  Action - id {{ panelId }}
</span>
<div class="form__edit__item" style="margin-left: 4px;margin-right: 4px;">
  <div>
    <div class="form__edit__item__titlesky" i18n>Name</div>
    <div class="form__edit__item__value short">
      <input
        [value]="workflow.name"
        (change)="updateField($event)"  
      >
    </div>
  </div>

  <div style="font-size: 11px;flex-grow: 1;text-align: end;" *ngIf="workflow.multiplegroups">
    <span style="float: left;color: var(--sky11);">
      {{ workflow.groups.length }} groups
    </span>
    <a
      class="a--animation"
      (click)="addGroup()"
      data-cy="workflow-action-add-group"
    >
      <fa-icon icon="add" [fixedWidth]="true" size="sm"></fa-icon>Add new
    </a>
    <span *ngIf="currentGroupIndex > 0">|</span>
    <a
      class="a--animation"
      *ngIf="currentGroupIndex > 0"
      (click)="deleteGroup(workflow.groups[currentGroupIndex].id)"
      data-cy="workflow-action-delete-group"
    >
      <fa-icon icon="xmark" [fixedWidth]="true" size="xs"></fa-icon>delete
    </a>
  </div>
  <div style="font-size: 24px;font-weight: bold; color: var(--sky11);border-top: 2px solid var(--sky11);border-bottom: 2px solid var(--sky11);width: 100%;">
    <span style="width: 25px;display: inline-block;">
      <fa-icon
        icon="chevron-left"
        [fixedWidth]="true"
        style="cursor: pointer;" 
        (click)="previousGroup()"
        *ngIf="workflow.groups.length > 1 && currentGroupIndex > 0"
      ></fa-icon>
    </span>
    <fa-icon icon="sitemap" size="xs" [fixedWidth]="true"></fa-icon>
    Group <span *ngIf="workflow.multiplegroups">#{{ currentGroupIndex }}</span>
    <fa-icon 
      icon="chevron-right" 
      [fixedWidth]="true" 
      style="float: right;cursor: pointer;" 
      (click)="nextGroup()"
      *ngIf="workflow.groups.length > 1 && currentGroupIndex < (workflow.groups.length - 1)"
    ></fa-icon>
  </div>
  <div *ngFor="let property of workflow.groups[currentGroupIndex].properties" style="width: 100%;">
    <div *ngIf="property.name === 'field' && isFieldtypeItemname()">
    </div>

    <div *ngIf="property.name === 'field' && !isFieldtypeItemname()">
      <div class="form__edit__item__titlesky" i18n>{{ property.name }}</div>
      <div class="form__edit__item__value short">
        <ng-select
          [id]="property.id"
          [name]="property.name"
          required
          [items]="getPropertiesOfType()"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="property.value"
          [clearable]="false"
          (change)="updateProperty(property)"
        >
        </ng-select>
      </div>
    </div>

    <div *ngIf="property.name !== 'field'">
      <div class="form__edit__item__titlesky" i18n>{{ property.name }}</div>
      <div class="form__edit__item__value short">
        <input
          [value]="property.value"
          [id]="property.id"
          [name]="property.name"
          *ngIf="property.allowedvalues === null && property.name !== 'typeid'"
          [(ngModel)]="property.value"
          (change)="updateProperty(property)"
        >

        <ng-select
          *ngIf="property.allowedvalues !== null"
          [id]="property.id"
          [name]="property.name"
          required
          [items]="property.allowedvalues"
          [(ngModel)]="property.value"
          [clearable]="false"
          (change)="updateProperty(property)"
        >
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            {{ item }}
          </ng-template>
        </ng-select>
        
        <ng-select
          *ngIf="property.name === 'typeid'"
          [id]="property.id"
          [name]="property.name"
          required
          [items]="types"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="property.value"
          [clearable]="false"
          (change)="updateProperty(property)"
        >
        </ng-select>
      </div>
    </div>
  </div>

  <div 
    style="font-size: 24px;font-weight: bold; color: var(--sky11);border-top: 2px solid var(--sky11);border-bottom: 2px solid var(--sky11);width: 100%;"
    *ngIf="workflow.variable !== null"
  >
    <fa-icon icon="warehouse" size="xs" [fixedWidth]="true"></fa-icon>
    Store Id in variable
  </div>
  <div *ngIf="workflow.variable !== null"  style="width: 100%;">
    <div>
      <div class="form__edit__item__titlesky" i18n>Name</div>
      <div class="form__edit__item__value short">
        <input
          [value]="workflow.variable.name"
          name="variable name"
          [(ngModel)]="workflow.variable.name"
          (change)="updateVariable('', 'name')"
        >
      </div>
    </div>
    <!-- <div>
      <div class="form__edit__item__titlesky" i18n>type</div>
      <div class="form__edit__item__value short">
        <ng-select
          name="variabletype"
          required
          [items]="['simple', 'list']"
          [(ngModel)]="workflow.variable.variabletype"
          [clearable]="false"
          (change)="updateVariable($event, 'variabletype')"
        >
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            {{ item }}
          </ng-template>
        </ng-select>
      </div>
    </div> -->
  </div>

</div>
