name: Continuous Integration

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    tests:
        runs-on: ubuntu-20.04

        steps:
        - uses: actions/checkout@v2

        - name: Use Node.js 16
          uses: actions/setup-node@v2
          with:
            node-version: '16'
            check-latest: true

        - name: Cache node dependencies
          id: cache-node-modules
          uses: actions/cache@v2
          with:
            path: "**/node_modules"
            key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}

        - name: Install dependencies
          if: steps.cache-node-modules.outputs.cache-hit != 'true'
          run: make install
          env:
            BACKEND_URL: http://backend.localhost

        - name: Run the linters
          run: make lint

        - name: Run the test suite
          run: make test
